/.direnv/
/.hypothesis
/.pytest_cache/
/.pre-commit-config.yaml
*.pyc
__pycache__/
.coverage

# Nix build output
/result

# Sphinx build output
/docs/generated/

# {{ cookiecutter.project_name }} template build output
/.template/\{\{ cookiecutter.project_name \}\}/**
!/.template/\{\{ cookiecutter.project_name \}\}/README.md
