#!/usr/bin/env bash

# shellcheck disable=SC1091
source "$(nix build 'nixpkgs#nix-direnv' --inputs-from . --print-out-paths --out-link .direnv/nix-direnv)/share/nix-direnv/direnvrc"

watch_file pyproject.toml uv.lock

use flake .
