#!/usr/bin/env bash

if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi

nix_direnv_watch_file pyproject.toml poetry.lock

export PROJECT_DIR
PROJECT_DIR="$PWD"
use flake . --impure

if ! env_vars_required "SHELL_LOADED_$(echo -n "$PROJECT_DIR" | sha256sum | cut -f1 -d' ')"; then
  echo "Failed to build project; loading poetryFallback shell"
  use flake '.#poetryFallback'
fi
